*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Bruno Ace SC', cursive;
  font-weight: 400;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a,
a:hover,
a::after,
a::before {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}